
body{	background:rgba(0,0,0,0.2);
			padding:20px;}

.topmargin{margin-top:10%;}

.turnleftup{transform:rotate(45deg);}

.turnrightup{transform:rotate(-45deg);}

.turnleftdown{transform:rotate(-45deg);}

.turnrightdown{transform:rotate(45deg);}

.params{height:300px;}
